// @import url("react-jewish-datepicker/dist/index.css");

.daily-lesson-header {
  margin-bottom: 4px;
}

.lesson-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 4px;
}

.lesson-source-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  height: 80vh;
  overflow-y: auto;
  width: 70%;
  // flex: 1;
}

.lesson-left-side {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.date-picker {
  background: #7551f863;
  border-radius: 4px;
}

.lesson-audio {
  width: 30%;
}

.episode {
  padding: 0.5rem 0;
}
