.reactJewishDatePicker .navigation {
  height: 30px !important;
}

.reactJewishDatePicker .weekdayWrapper {
  background-color: rgb(160 135 250) !important;
  color: black !important;
}
.monthYearSelection {
  gap: 4px;
}
